{%load static%} {%load tags%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Heroic Features - Start Bootstrap Template</title>
        <link href="{% static 'catalog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'catalog/css/heroic-features.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
                <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" method="GET" action="{%url 'product-list'%}">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="q" placeholder="Search Products">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
            <div class="row text-center">
                <div class="col-lg-3">
                    {%categories%}
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        {%block content%}{%endblock%}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'catalog/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'catalog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>