{% load mptt_tags %}

<div id="MainMenu">
        <div class="list-group panel">
            <a href="{%url 'product-list'%}" class="list-group-item" data-parent="#MainMenu">Catalog</a>
            {% recursetree nodes %}
                {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}" class="list-group-item" data-parent="#MainMenu">{{node.name}}</a>
                {% else %}
                    <a href="#{{node.slug}}" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">{{node.name}}<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="{{node.slug}}">
                        {{ children }}
                    </div>
                {%endif%}
            {% endrecursetree %}
        </div>
</div>
