{%extends 'catalog/base.html'%}
{%load static%}

{%block content%}
    {%for product in object_list%}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                {%if product.image%}
                    <img class="card-img-top" src="/media/{{product.image}}" alt="">
                {%else%}
                    <img class="card-img-top" src="/static/catalog/no-image.jpg" alt="">
                {%endif%}
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.get_price}}</p>
            </div>
            <div class="card-footer">
                <a href="{{product.get_absolute_url}}" class="btn btn-primary">More</a>
            </div>
            </div>
        </div>
    {%endfor%}
{%endblock%}