{%extends 'catalog/base.html'%}
{%load static%}

{%block content%}
    <div class="col-lg-9">
            <div class="card mt-4">
                {%if product.image%}
                    <img class="card-img-top img-fluid" src="/media/{{product.image}}" alt="">
                {%else%}
                    <img class="card-img-top img-fluid" src="/static/catalog/no-image.jpg" alt="">
                {%endif%}
              <div class="card-body">
                <h3 class="card-title">{{object.name}}</h3>
                <h4>{{object.get_price}}</h4>
                <p class="card-text">{% if object.description %} {{object.description}} {% else %} No description {% endif %}</p>
                <br>
                {% if vendor_link %}<p class="card-text">{{object.vendor_link}}</p>{% endif %}
                
              </div>
            </div>
{%endblock%}